main
{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

main p 
{
    font-size: 2rem;
    width: 75rem;
    margin: 2rem auto;
}

main a
{
    text-decoration: none;
    color: white;
    border: solid 3px rgb(45, 255, 157);
    padding: 1rem;
    font-size: 2rem;
    background-color: black;
    text-align: center;
}

h2{
    margin: 0;
    padding: 0;
}

#rulesetOptions
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 25rem;
    margin: 0 auto;
}