body
{
    background-color: black;
    font-family: "Doto", sans-serif;
    background-image:url(./images/Mechwarrior-Wireframe-2.png);
    background-repeat: no-repeat;
    background-size: 80rem 62rem;
    background-position: center top;
    text-align: center;
}

main
{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

main p 
{
    font-size: 2rem;
    width: 75rem;
    margin: 2rem auto;
    color: white;
}

main a
{
    text-decoration: none;
    color: white;
    border: solid 3px rgb(45, 255, 157);
    padding: 1rem;
    font-size: 2rem;
    background-color: black;
    text-align: center;
}

header a
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 4rem;
}

h2{
    margin: 0;
    padding: 0;
}

#rulesetOptions
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 25rem;
    margin: 0 auto;
}